<div class="left-side border-bottom py-2">
        <h3 class="agileits-sear-head mb-3">Điểm đến mới</h3>
        <ul>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Sau 30 ngày</span>
            </li>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Sau 90 Ngày</span>
            </li>
        </ul>
    </div>