<div class="left-side border-bottom py-2">
        <h3 class="agileits-sear-head mb-3">Thanh toán khi giao hàng</h3>
        <ul>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Thanh toán trước khi giao hàng</span>
            </li>
            <li>
                    <input type="checkbox" class="checked">
                    <span class="span">Thanh toán sau khi giao hàng</span>
                </li>
        </ul>
</div>