<div class="agile-main-top">
	<div class="container-fluid">
		<div class="row main-top-w3l py-2">
			<div class="col-lg-4 header-most-top">
				<p class="text-white text-lg-left text-center">Ưu đãi và giảm giá hàng đầu khu vực
					<i class="fas fa-shopping-cart ml-1"></i>
				</p>
			</div>
			<div class="col-lg-8 header-right mt-lg-0 mt-2">
				<!-- header lists -->
				<ul>
					<li class="text-center border-right text-white">
						<a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
							<i class="fas fa-map-marker mr-2"></i>Chọn vị trí</a>
					</li>
					<li class="text-center border-right text-white">
						<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
							<i class="fas fa-truck mr-2"></i>Theo dõi đơn hàng</a>
					</li>
					<li class="text-center border-right text-white">
						<i class="fas fa-phone mr-2"></i> 001 234 5678
					</li>
					<li class="text-center border-right text-white">
						<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
							<i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập </a>
					</li>
					<li class="text-center text-white">
						<a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
							<i class="fas fa-sign-out-alt mr-2"></i>Đăng kí </a>
					</li>
				</ul>
				<!-- //header lists -->
			</div>
		</div>
	</div>
</div>

<!-- Button trigger modal(select-location) -->
<div id="small-dialog1" class="mfp-hide">
	<div class="select-city">
		<h3>
			<i class="fas fa-map-marker"></i> Vui lòng chọn vị trí của bạn</h3>
		<select class="list_of_cities">
			<optgroup label="Hồ Chí Minh">
				<option selected style="display:none;color:#eee;">Chọn vị trí</option>
				<option>Quận 1</option>
				<option>Quận 2</option>
				<option>Quận 3</option>
				<option>Quận 4</option>
				<option>Quận 5</option>
				<option>Quận 6</option>
				<option>Quận 7</option>
				<option>Quận 8</option>
				<option>Quận 9</option>
				<option>Quận 10</option>
				<option>Quận 11</option>
				<option>Quận 12</option>
				<option>Bình Tân</option>
				<option>Bình Thạnh</option>
				<option>Gò Vấp</option>
				<option>Phú Nhuận</option>
				<option>Tân Bình</option>
				<option>Tân Phú</option>
				<option>Thủ Đức</option>
				<option>Bình Chánh</option>
				<option>Cần Giờ</option>
				<option>Hóc Môn</option>
				<option>Củ Chi</option>
				<option>Nhà bè</option>
			</optgroup>
			<optgroup label="Hà Nội">
				<option>Ba Đình</option>
				<option>Bắc Từ Liêm</option>
				<option>Cầu Giấy</option>
				<option>Đống Đa</option>
				<option>Hà Đông</option>
				<option>Hai Bà Trưng</option>
				<option>Hoàn Kiếm</option>
				<option>Long Biên</option>
				<option>Nam Từ Liêm</option>
				<option>Tây Hồ</option>
				<option>Hoàng Mai</option>
				<option>Thanh Xuân</option>
				<option>Sơn Tây</option>
				<option>Ba vì</option>
				<option>Chương Mỹ</option>
				<option>Đan Phượng</option>
				<option>Đông Anh</option>
				<option>Gia Lâm</option>
				<option>Hoài Đức</option>
				<option>Mê Linh</option>
				<option>Mỹ Đức</option>
				<option>Phú Xuyên</option>
				<option>Phúc Thọ</option>
				<option>Quốc Oai</option>
				<option>Sóc Sơn</option>
				<option>Thạch Thất</option>
				<option>Thanh Oai</option>
				<option>Thanh Trì</option>
				<option>Thường Tín</option>
				<option>Ứng Hòa</option>
			</optgroup>
		</select>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //shop locator (popup) -->

<!-- modals -->
<!-- log in -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-center">Đăng nhập</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="form-group">
						<label class="col-form-label">Tên đăng nhập</label>
						<input type="text" class="form-control" placeholder=" " name="Name" required="">
					</div>
					<div class="form-group">
						<label class="col-form-label">Mật khẩu</label>
						<input type="password" class="form-control" placeholder=" " name="Password" required="">
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Đăng nhập"">
					</div>
					<div class="sub-w3l">
						<div class="custom-control custom-checkbox mr-sm-2">
							<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
							<label class="custom-control-label" for="customControlAutosizing">Nhớ mật khẩu?</label>
						</div>
					</div>
					<p class="text-center dont-do mt-3">Bạn không có tài khoản?
						<a href="#" data-toggle="modal" data-target="#exampleModal2">
							Đăng kí ngay</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- register -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Đăng kí</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="form-group">
						<label class="col-form-label">Họ và tên</label>
						<input type="text" class="form-control" placeholder=" " name="Name" required="">
					</div>
					<div class="form-group">
						<label class="col-form-label">Email</label>
						<input type="email" class="form-control" placeholder=" " name="Email" required="">
					</div>
					<div class="form-group">
						<label class="col-form-label">Mật khẩu</label>
						<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
					</div>
					<div class="form-group">
						<label class="col-form-label">Nhập lại mật khẩu</label>
						<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Đăng kí"">
					</div>
					<div class="sub-w3l">
						<div class="custom-control custom-checkbox mr-sm-2">
							<input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
							<label class="custom-control-label" for="customControlAutosizing2">Tôi chấp nhận điều khoản và điều kiện</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //modal -->
<!-- //top-header -->

<!-- header-bottom-->
<div class="header-bot">
	<div class="container">
		<div class="row header-bot_inner_wthreeinfo_header_mid">
			<!-- logo -->
			<div class="col-md-3 logo_agile">
				<h1 class="text-center">
					<a href="./" class="font-weight-bold font-italic">
						<img src="images/logo2.png" alt=" " class="img-fluid">Trung Electro
					</a>
				</h1>
			</div>
			<!-- //logo -->
			<!-- header-bot -->
			<div class="col-md-9 header mt-4 mb-md-0 mb-4">
				<div class="row">
					<!-- search -->
					<div class="col-10 agileits_search">
						<form class="form-inline" action="#" method="post">
							<input class="form-control mr-sm-2" type="search" placeholder="Tìm Kiếm" aria-label="Tim Kiếm" required>
							<button class="btn my-2 my-sm-0" type="submit">Tìm Kiếm</button>
						</form>
					</div>
					<!-- //search -->
					<!-- cart details -->
					<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
						<div class="wthreecartaits wthreecartaits2 cart cart box_1">
							<form action="#" method="post" class="last">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="display" value="1">
								<button class="btn w3view-cart" type="submit" name="submit" value="">
									<i class="fas fa-cart-arrow-down"></i>
								</button>
							</form>
						</div>
					</div>
					<!-- //cart details -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<form action="#" method="post">
						<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
							<option value="">Tất cả các loại sản phẩm</option>
							<option value="Televisions">Tivi</option>
							<option value="Headphones">Tai nghe</option>
							<option value="Computers">Máy tính</option>
							<option value="Appliances">Thiết bị gia dụng</option>
							<option value="Mobiles">Điên thoại di động</option>
							<option value="Fruits &amp; Vegetables">TV &amp; Video</option>
							<option value="iPad & Tablets">iPad & Máy tính  bảng</option>
							<option value="Cameras & Camcorders">Máy ảnh và máy quay phim</option>
							<option value="Home Audio & Theater">Thiết bị âm thanh</option>
						</select>
					</form>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="./">Trang chủ
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Thiết bị điện tử
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">Điện thoại, Máy tính</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product">Các loại điện thoại</a>
												</li>
												<li>
													<a href="product">Các loại phụ kiện điện thoại</a>
												</li>
												<li>
													<a href="product">Vỏ điện thoại</a>
												</li>
												<li>
													<a href="product">Bảo vệ màn hình</a>
												</li>
												<li>
													<a href="product">Pin dự phòng</a>
												</li>
												<li>
													<a href="product">Các loại sản phẩm khác</a>
												</li>
												<li>
													<a href="product">Máy tính bảng</a>
												</li>
												<li>
													<a href="product">Thiết bị đeo được</a>
												</li>
												<li>
													<a href="product">Thiết bị thông minh</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product">Laptops</a>
												</li>
												<li>
													<a href="product">Ổ đĩa và thiết bị lưu trữ</a>
												</li>
												<li>
													<a href="product">Máy in và mực</a>
												</li>
												<li>
													<a href="product">Thiết bị kết nối</a>
												</li>
												<li>
													<a href="product">Phụ kiện máy tính</a>
												</li>
												<li>
													<a href="product">Khu vực Game</a>
												</li>
												<li>
													<a href="product">Phần Mềm</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Thiết bị gia dụng
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">TV, thiết bị gia dụng, thiết bị điện tử</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2">Tivi</a>
												</li>
												<li>
													<a href="product2">Hệ thống giải trí gia đình</a>
												</li>
												<li>
													<a href="product2">Tai nghe</a>
												</li>
												<li>
													<a href="product2">Loa</a>
												</li>
												<li>
													<a href="product2">MP3, phụ kiện truyền thông</a>
												</li>
												<li>
													<a href="product2">Phụ kiện âm thanh và video</a>
												</li>
												<li>
													<a href="product2">Máy quay</a>
												</li>
												<li>
													<a href="product2">DSLR Máy quay</a>
												</li>
												<li>
													<a href="product2">Phụ kiện máy quay</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2">Nhạc cụ</a>
												</li>
												<li>
													<a href="product2">Máy chơi game</a>
												</li>
												<li>
													<a href="product2">Các loại thiết bị điện tử</a>
												</li>
												<li>
													<a href="product2">Máy điều hòa</a>
												</li>
												<li>
													<a href="product2">Tủ lạnh</a>
												</li>
												<li>
													<a href="product2">Máy giặt</a>
												</li>
												<li>
													<a href="product2">Dụng cụ làm bếp</a>
												</li>
												<li>
													<a href="product2">Thiết bị sưởi ấm và làm mát</a>
												</li>
												<li>
													<a href="product2">Tất cả các loại dụng cụ</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="about">Về chúng tôi</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product">Điểm đến mới</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Trang
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="product">Sản phẩm 1</a>
								<a class="dropdown-item" href="product2">Sản phẩm 2</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="single">Sản phẩm đơn 1</a>
								<a class="dropdown-item" href="single2">Sản phẩm đơn 2</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="checkout">Trang thanh toán (check out)</a>
								<a class="dropdown-item" href="payment">Trang thanh toán (payment)</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact">Liện hệ với chúng tôi</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->