<div class="left-side border-bottom py-2">
        <h3 class="agileits-sear-head mb-3">Ưu đãi</h3>
        <ul>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Thay đổi ưu đãi</span>
            </li>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Không phí EMI</span>
            </li>
            <li>
                <input type="checkbox" class="checked">
                <span class="span">Giá đặc biệt</span>
            </li>
        </ul>
    </div>